// welcome message for new login user
Email.enable=false
wel.msg1 = Thank you for successfully registering to ZDLC .\n\n * Your registration details are as below,\n
wel.msg2.newUser= Name:
wel.msg3.email=Email address:
wel.msg4 =You can access ZDLC using the url : http://10.242.138.63:8080/login
wel.msg5.url =http://10.242.138.63:8080/login
wel.msg6 = Password will be sent in a separate mail.

// Email Configuration details

email.hostName=
email.addTo=
email.sender.name=
email.setfrom=
email.fromaddress=
email.setAuthentication1=""
email.setAuthentication2=""
email.setsSubject.welmsg =Welcome to ZDLC
email.smtp=25
email.fromZDLC = ZDLCOffshore@cognizant.com
	
// Forgot Password message	
email.msg1.forgot=Your ZDLC  Password is :
email.msg2.forgot=\n You can access ZDLC  using the url : http://10.242.138.63:8080/login
email.subject.forgott=Your ZDLC  Password
			
// Link for external System with Context Root
HOQ_link=/HoQ
RMS_link=/RMS
SDP_link=/com.qualite.zdlc.sdp.ui
LOGIN_link=/login
WEBROOT_link=/webroot
MOD_link=/com.qualite.zdlc.modeller.ui
DLA_link=/com.qualite.zdlc.codeanalyzer.ui
UAP_link=/UAP
GRAPH_link=/graph

############ Switch Merge and Conflict on and off using this##################### 
IS_MC_ACTIVE=true

SPD_GENERATE_ROCHADE = false
EXCEL_REMOVE_FORMULA_DUPLICATES = true

IGNORE_CONSTANTS = FALSE

DEMO_CUST_CODE = DEMOP01
############ Switch Merge and Conflict on and off using this#####################
IS_MC_ACTIVE = true

## default let it be 'N' so that self calls gets recorded in scenario generated. if set to 'Y' self calls wont be visible in scenarios generated
ENABLE_SELFCALL_SCENARIO=N
		
		
############ User Class Parsed using this#####################
USER_CLASS_DISPLAYABLE = false

##To switch between the choice of whether or not agile mode needs to be
#triggered.
#####Give 'Use Case Model' or 'User Story Model' to default it as the mode
### for all projects. Give 'No Default' if u wish to choose dynamically.
DEFAULT_MODE = No Default

###### RMS Configuration Start ###################
// RMS document generation filepath

# To copy Svg file location
SVG_FILE_LOCATION= ..\\
  
# TO REMOVE non svg string from the svg xml file  
  SVG_FILTER_STR= stroke-dasharray="dotted",text-anchor="center"

###### MAP Configuration Start ###################
MAP_DB_PATH=..\\conf\\MAP\\ATA
MAP_INPUT_FILE_PATH=..\\conf\\MAP\\INPUT
MAP_OUTPUT_FILE_PATH=..\\conf\\MAP\\OUTPUT
MAP_ERROR_FILE_PATH=..\\conf\\MAP\\ERROR
MAP_ARCHIVE_FILE_PATH=..\\conf\\MAP\\ARCHIVE

/////////// HSQL ///////////////////
HOSTNAME=jdbc:hsqldb:hsql://localhost/zdlc
DBUSER=ZDLC
PASSWORD=zDlCpRoDuCT@cCeSs
DBPLATFORM=org.hibernate.dialect.HSQLDialect
DBDRIVER=org.hsqldb.jdbc.JDBCDriver
DEFAULT_SCHEMA=ZDLC_PROD
SHOW_SQL=false

#########################################
# EhCache Configuration File
EHCACHE_FILE_PATH=..\\conf\\ehcache.xml


OUTPUT_FOLDER_PATH=..\\conf\\RMS_OUTPUT

SOURCE_CODE_PATH=..\\conf\\MAP\\SOURCE_CODE

ZIP_FILE_PATH=..\\conf\\TempFiles\\testing
TEMP_FILE_NAME=jsonData.txt
TEMP_ZIP_FILE_NAME=compressedZip.gzip


UAP_EHCACHE_FILE_PATH=..\\conf\\UAP_ehcache.xml

#media-store

MEDIA_STORE=..\\conf\\UAP

UAP_ACTIVITY_JSON=..\\conf\\UAP_CONFIG_JSON.txt

#memorableInfo

M_INFO=Testing123
M_NAME=myForm:strEnterMemorableInformation_memInfo1,myForm:strEnterMemorableInformation_memInfo2,myForm:strEnterMemorableInformation_memInfo3

COBOL_SOURCE_CODE_PATH=..\\conf\\CobolSourceCode

#*********** DEFAULT ARCHIVE, ERROR PATHS ***********
ARCHIVE_PATH_FOR_LOG=..\\conf\\MAP\\ARCHIVE
ERROR_PATH_FOR_LOG=..\\conf\\MAP\\ERROR

####Path to store scenario report#########
SPD_SCENARIOREPORT_PATH=..\\conf\\MAP\\REPORT

####Path to store Inventory Structure Template#########
FOLDER_TYPES=application data,AS400,COBOL,COPY BOOK,DISPLAYFILES,JCL,JOBLIB,LOGICALFILES,MAPSET,PHYSICALFILES,PRINTERFILES,PROC,PLSQL,TSQL,SAS,SSIS,DB2,INFORMATICA,SYBASE,IMM,TERADATA,EXCEL,DATASTAGE


#Folders to ignore while generating static code analysis report
FOLDERS_TO_IGNORE_FROM_SOURCE_CODE=dojotoolkit,.svn,.settings

#Path to store static code analysis report
PATH_TO_STORE_CODEANALYSIS_REPORT=..\\conf\\MAP\\REPORT

#Path to store the default source code path  if not configured in DB
PROGRESS_SOURCE_CODE_PATH =..\\conf\\Progress_Code
PROGRESS_FILE_TYPES=_p,_i

#Indicator for class name with extensions. possible values Y/N
CLASS_NAME_EXTENSION=N

###METADATA Template Path####
METADATA_TEMPLATE_PATH= ..\\output

email.isEnabled=false


###Configuration For Direct navigation to Tools from Signin####
SIGNIN_NAVIGATION= 

ZDLC_LOG_PATH=..\\conf\\ZDLCLogs	
##*** VBA file types		
VBA_FILE_TYPES=bas,frm,frx,cls,ctl,vb	

default=1		
actor-action-line=1		
action-action-line=1	

LOG_FILES_PATH=..\\conf\\jvmLogs

UNCOMPRESSED_FILE_PATH=..\\conf\\TempFiles\\jsonString.txt		
GZIP_FILE_PATH=..\\conf\\TempFiles\\zipFile.gzip

##SDPProperties
LOG_TYPES=WPS,BAPI,WAS
CHOREOGRAPHY=..\\conf\\SDP\\Choreographies\\Galaxy_FS.cdm

extractor.WASIBDebugLog=com.qualite.zdlc.sdp.extractor.WasIbDebugExtractor
extractor.Trace=com.qualite.zdlc.sdp.extractor.WPSTraceExtractor
extractor.IBTrace=com.qualite.zdlc.sdp.extractor.WpsIbTraceExtractor
extractor.BAPI=com.qualite.zdlc.sdp.extractor.FsExtractor
extractor.WASIBTraceLog=com.qualite.zdlc.sdp.extractor.WasIbTraceExtractor
extractor.MET=com.qualite.zdlc.modeller.service.extractor.MetlifeExtractor
extractor.TACL=com.qualite.zdlc.modeller.service.extractor.TACLExtractor
extractor.JVM=com.qualite.zdlc.modeller.service.extractor.JVMMExtractor
extractor.CL=com.qualite.zdlc.modeller.service.extractor.ControlLanguageExtractor

# Folders
WORKSPACE=..\\conf\\SDP

# Filters
FILTER_IN=
FILTER_OUT=
NODES=A,B,C,D,E,V,W

WAS_EXCEPTION_SUMMARY_HEADER=Sl,Exception Type,Brand,No. of Occurrences
WAS_EXCEPTION_DETAILED_HEADER=Date,Exception Type,Brand,UserID,Component Name,Method Name,Message,Dump

DEMO_PROJECT_DEFAULT_NAME=SAMPLE_PROJECT_

##**PROPERTY FOR CHANGING COLOR OF LIFELINE in SCENARIO DIAGRAM******
LIFELINE_COLORS=PURPLE,AMBER,YELLOW,GREEN,BROWN,GRAY,PINK
LIFELINE_PACKAGE_PURPLE=config
LIFELINE_PACKAGE_AMBER=dto
LIFELINE_PACKAGE_YELLOW=util
LIFELINE_PACKAGE_GREEN=delegate
LIFELINE_PACKAGE_BROWN=dao
LIFELINE_PACKAGE_GRAY=convertor
LIFELINE_PACKAGE_PINK=parser



CC_CLASS_NAME=PCFServiceImpl
CC_METHOD_NAME=getConfigForType

##*******PROPERTIES FOR COMPONENT DIAGRAM************
DELIMITING_CHARACTER = .

### Section for keys
HASH_KEY = #R#,#OUTSCOPE#,#INSCOPE#,#A#,#I#,#D#,#C#

###Indicator for splitting scenario. possible values Y/N
SPLIT_SCENARIO=N
SPLIT_SCENARIO_ON_THREAD=N

###Indicator for extracting DataSet from Job logs. possible values Y/N
DATASET_EXTRACT=Y

###STARTING LIFELINE IN SCENARIO
BEGIN_LIFELINE=User
#ADDITIONAL LIFELINE IN SCENARIO
ADD_LIFELINE=
### Number of Lines to serialize
LINES_TO_SERIALIZE=50000

### System user for storing the details in DB
SYSTEM_USER_DB=43
		
ENABLE_REPORT_GENERATION=Y
ENABLE_IMPORT_SCENARIO=N
ENABLE_FILTER_SCENARIO=Y

TEMP_FILE_NAME=jsonData.txt
TEMP_ZIP_FILE_NAME= compressedZip.gzip
		
##** Scheduler Configuration ***********
DEFAULT_USECASE=default usecase
IGNORE_DB_TIMERVALUE=true
SPLIT_SCN_NAME=true

######################### DLA CONFIGURATIONS START#########################
##Temporary location to move uploaded files which will be deleted after completion of processing.
CA_OUTPUT=..\\conf\\DLA_OUTPUT
REPORT_OUTPUT_PATH=..\\conf\\REPORT_OUTPUT

## QlikView
QVVariableTable = 
QVSpecificFunctions = DISTINCT,PEEK,CONCAT,NOLOCK,LOCK,WITH LOCK,WITH NOLOCK,CASE,IF,THEN,END,WHEN,ELSE,AUTOGENERATE,AS

##DLA Batch processing properties###
BATCH_PATH=..\\Batch			
BATCH_SCHEMA_PATH=..\\Schema_path
BATCH_PATH_1=..\\Batch1
BATCH_ERROR_PATH=..\\Error
COPY_ERROR=Y
LINEAGE_OUTPUT_PATH=..\\Lineages
GENERATE_LINEAGE=N
GENERATE_L0=N
GENERATE_L1=N
GENERATE_L2=N
##Property to set Batch processing mode. Possible values Y/N. Y=ONLINE MODE, N=OFFLINE MODE
PROCESS_BATCH_ONLINE=Y
##Property to set Lineage Generation in Online Batch processing mode. Possible values Y/N. Y=Lineage Generation, N=No Lineage Generation
GENERATE_LINEAGE_ONLINE =Y
## DLA Batch processing: To Generate L1 and L2 reports. Set this to TRUE to generate L1 and L2 reports
GENERATE_L1_AND_L2_REPORTS=FALSE

## DLA: properties to populate mandatory fields in lineage report. If don't want these values in lineage output just give empty value to these properties.
NOT_APPLICABLE = NOT APPLICABLE
INSUFFICIENT_DATA = INSUFFICIENT DATA
VARIABLE_DATA = VARIABLE
PARAMETER_DATA = PARAMATER
CURSOR_PARAMETER_DATA = CURSOR_PARAMATER
NOT_AVAILABLE = NOT AVAILABLE
DIRECT = DIRECT
RETURN_VALUE = RETURN VALUE
CONSTANT=CONSTANT

## This parameter is used to show the target for select. If it is true the target table for select will be Result Set.
Result_Set = true

## DLA: To remove square brackets for table and column names.
REMOVE_SQUARE_BRACKETS=TRUE

###Datastage_Configuartion###
##USE_DEFAULT_PARAMS=false
##appendSchemaToTableName=false

## to exclude API related function in lineage output. Comma seperated properties.
API_FUNCTION = DBMS_OUTPUT.PUT_LINE, %PUT

##FUNC or PROC statement types: update the below three properties values however wants to see the statement types in the lineage.
PROCEDURE_CALL=PROCEDURE CALL
FUNCTION_CALL=FUNCTION CALL
DEFAULT_FUNC_OR_PROC_CALL=FUNCTION / PROC CALL

## This property is used to add parent step column in the lineage output.
PARENT_STEP = true 

## DLA: used for checking function or procedure in schema file, value can be Y/N.
CHECK_SCHEMA_FILE =N
SHOW_MACROS=false
DISPLAY_INBUILT_FUNCTION =N

############# DATA STAGE SCHEMA PATH ##############
DATA_STAGE_SCHEMA_PATH=

##This property is used to show the filtered lineage for SAS.
SHOW_SAS_FILTERED_LINEAGE=FALSE
##Default schema name for SAS Data sets.
SAS_DEFAULT_SCHEMA=WORK

################L2 REPORT GENERATION PROPERTIES START############################	
CAPTURE_MACROS = true		
isQDQWSet=false		
usingConnectLineage=false		
isSOW2=true		

useLimitedLayers=false		

ZDLC_REPORT=false		
FILE_PATTERN=.txt,.ds,.DS,#PS_DirPath.StagingPath#,#PS_DirPath.LookupPath#,DUAL,dual,#path#,#PATH#,.dat,#schema#/
FILTER_INTERMEDIARY_FILE=true		
pickupFirstLineageSource=true		
GENERATE_BI_TEMPLATE=false	
BATCH_DDL_PATH=		
BATCH_INPUT_PATH=		
BATCH_OUTPUT_PATH=		
BATCH_FILES_TYPE=

INCLUDE_CONDITIONS_TO_DERIVATION_RULES=false		

SAS_STATEMENT_TYPE_CONFIG=DATA STATEMENT,DATA ASSIGNMENT STATEMENT,KEEP STATEMENT
INFORMATICA_XML_STATEMENT_TYPE_CONFIG=COLUMN STATEMENT,SOURCE COLUMN STATEMENT,INSERT STATEMENT,EXPRESSION STATEMENT
PLSQL_STATEMENT_TYPE_CONFIG=INSERT STATEMENT,MERGE INSERT STATEMENT,UPDATE STATEMENT,MERGE UPDATE STATEMENT		
TSQL_STATEMENT_TYPE_CONFIG=INSERT STATEMENT,MERGE INSERT STATEMENT,UPDATE STATEMENT,MERGE UPDATE STATEMENT
SYBASE_STATEMENT_TYPE_CONFIG=INSERT STATEMENT,MERGE INSERT STATEMENT,UPDATE STATEMENT,MERGE UPDATE STATEMENT
SSIS_STATEMENT_TYPE_CONFIG=COPY,DERIVED,DESTINATION STATEMENT,DATA CONVERSION,LOOK UP STATEMENT,FUZZY LOOKUP,ROW NUMBER TRANSFORMATION,FUZZY GROUPING
DATASTAGE_STATEMENT_TYPE_CONFIG=COLUMN MAPPING
INFORMATICA_STATEMENT_TYPE_CONFIG=INSERT STATEMENT
QV_STATEMENT_TYPE_CONFIG = LOAD STATEMENT
DEFAULT_STATEMENT_TYPE_CONFIG=INSERT STATEMENT,MERGE INSERT STATEMENT,UPDATE STATEMENT,MERGE UPDATE STATEMENT	

DEFAULT_EMPTY_CELL_DATA=NOT APPLICABLE		
DEFAULT_DIRECT_MAPPING_DATA=DIRECT		
LINEAGE_ORDER=SOURCE_FIRST		

USE_DEFAULT_PARAMS=false
EXCLUSION_FILTER=

#########################L2 REPORT GENERATION PROPERTIES END#############################
##If SHOW_CONST_OR_PARAM_IN_SRC is set to FALSE then the parameters and constants values will not be shown in the SOURCE COLUMN of lineage. 
SHOW_CONST_OR_PARAM_IN_SRC=TRUE
######################### DLA CONFIGURATIONS END#########################

## Parameter to set the maximum image size for exporting
EXPORT_IMAGE_SIZE_LIMIT=8192

#Scenario Diagram Split on interaction line count
EXPORT_IMAGE_SPLIT_LINE_COUNT=800

#Scenario Diagram Enable/Disable splitting of images . Value to be Y/N
EXPORT_IMAGE_SPLIT_REQUIRED=Y

#Special characters appearing in log files
SPECIAL_CHARACTERS_IN_LOG=+,$,`,&,/,\,-,=,*,^,%,#,@,!,~,:,;,],[,{,},<,>,?,|

#This property is used for visualization purpose in Graph project.
LINEAGE_FOLDER_PATH=

##UAP ignore variables not supported by java for Page object model framework##
UAP_IGNORE_CHARACTERS_POM=-:.*;#,()\\[\\]\\s
## Java 1.7 Jdk Path
JAVA_HOME_PATH=

################# PFD PROPERTIES ####################
PFD_FILTER_ICONS=SET,MOVE,IF,ESCAPE
UNGROUPED_PFD_SIZE_LIMIT=1

##Enabling the existing datastage property,it used to retain the source columns as it is,without removing the table name in the source column tag ##
USE_NEW_MAPPING=true

################# COBOL SQL PARSER ##################
PARSER_TYPE=

###This property will allow Admin to Validate and activate a user account if VALIDATE_USER=TRUE
VALIDATE_USER=FALSE

SPD_CODE_ANALYSIS_REPORT_PATH=

DEFAULT_PROC_VIEW = true
DEFAULT_NUMBER_OF_ICONS = 10000

## Account Lockout Threshold - number of attempts, Account Lockout Duration - time in minutes after which the account is activated
LOCKOUT_THRESHOLD=5
LOCKOUT_DURATION=20

## Enabled when Generic messages need to be sent as part of Response in Login module
GENERIC_RESPONSE=false

## Possible values true/false
VALIDATE_CHECKSUM=true
##excel lineage file
extractSql=..\\queryFile.txt

## for ordered lineage
oldLineage=Y

SHOW_FULL_QUALIFIED_NAME=false

############# This parameter is used add the inbuilt functions that needs to handled explicitly #####################
PLSQL_INBUILT_FUNCTION_LIST=LENGTHB,LENGTHC,LENGTH2,LENGTH4,UTL_RAW.CAST_TO_VARCHAR2,INSTRB,SUBSTRB,STATS_KS_TEST,STATS_KS_TEST-STATISTIC,STATS_KS_TEST-SIG,STATS_MODE,STATS_MW_TEST,STATS_MW_TEST-STATISTIC,STATS_MW_TEST-U_STATISTIC, STATS_MW_TEST-TWO_SIDED_SIG,STATS_ONE_WAY_ANOVA,STATS_ONE_WAY_ANOVA-SUM_SQUARES_BETWEEN,STATS_ONE_WAY_ANOVA-SUM_SQUARES_WITHIN, STATS_ONE_WAY_ANOVA-DF_BETWEEN,STATS_ONE_WAY_ANOVA-DF_WITHIN,STATS_ONE_WAY_ANOVA-MEAN_SQUARES_BETWEEN,STATS_ONE_WAY_ANOVA-MEAN_SQUARES_WITHIN, STATS_ONE_WAY_ANOVA-F_RATIO, STATS_ONE_WAY_ANOVA-SIG,CORR_S,CORR_K
TSQL_INBUILT_FUNCTION_LIST=LENGTHB,LENGTHC,LENGTH2,LENGTH4,GO,EXECUTE

## Configuration parameter for IMM
OUTPUT_FOLDER=

############# CONFIGURATIONS FOR GENERATING CSV ##############
#Resource Details csv wellmark configurations
RESOURCE_NAME=TEST_RESOURCE
DLM_RESOURCE_NAME=CSTM_FF_DLM
DATASET_RESOURCE_NAME=CSTM_DB_DATASET
EXTRACT_RESOURCE_NAME=CSTM_FF_EXTRACT_ABS
CSV_CONFIGURATION=Wellmark

#File Details
OUTPUT_PATH=..\\conf\\REPORT_OUTPUT

#Filter Details
ALIGN_TRANSFORMATION_BY=TARGET
INLINE_TRANSFORMATIONS=false
IS_SOURCECODE_REQUIRED=false
IS_VALIDATION_REQUIRED=false
CREATE_EXTERNALRESOURCE_LINKING=true

#Defaut Values
## Creates default nodes in the resource. Keep this empty if the default are not required for a resource ##
IMM_DEFAULT_DB=
IMM_DEFAULT_SCHEMA=

##Lineages to be downloaded, possible values in same case l0,l1,l2
LINEAGE_LEVELS=l0,l1

##SSIS : Generate Lineage for Error Statement
LINEAGE_FOR_ERROR_STATEMENT=Y

#DDBRE L0 LINEAGE FILE DOWNLOAD PATH: Currently used to download the L0 Detailed Lineage in the specified folder for Easytrieve Files
DDBRE_LINEAGE_DOWNLOAD_PATH= ..\\conf\\EasytrieveLineage
#HPS L0 LINEAGE FILE DOWNLOAD PATH: Currently used to download the L0 Detailed Lineage for HPS Rules
HPS_LINEAGE_DOWNLOAD_PATH=..\\conf\\HPS_Lineage

#L2 Report Generation 
L2_INPUT_FOLDER_PATH=..\\conf\\Layered_Report\\INPUT\\
L2_OUTPUT_FOLDER_PATH=..\\conf\\Layered_Report\\OUTPUT\\

L2_LINEAGE_REPORT_TEMPLATE=..\\conf\\Layered_Report\\OUTPUT\\Layered_Source_Target.xlsx
L2_LINEAGE_REPORT_TEMPLATE_T2S=..\\conf\\Layered_Report\\OUTPUT\\Layered_Target_Source.xlsx

ALL_FILES=..\\conf\\Layered_Report\\ALL_FILES\\

FILES_IN_ORDER=..\\conf\\Layered_Report\\files.txt

DEFAULT_STATEMENTTYPES_TO_MERGE = WHERE CONDITION STATEMENT,JOIN STATEMENT,LEFT JOIN,RIGHT JOIN,GROUP BY STATEMENT,ORDER BY STATEMENT